.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  opacity: 1 !important;
  background-color: #EABB37;
}


.swiper-pagination-bullet-active {
  background-color: #0F776E;
}

.swiper-container {
  margin-bottom: 20px; /* Jarak pagination ke div bg-black */
}

.swiper-pagination {
  margin-top: 10px; /* Tambahkan margin jika perlu */
}


@media screen and (max-width: 1024px) and (orientation: portrait) {
  .swiper-container {
    height: 50vh !important; /* Sesuaikan dengan rasio yang diinginkan */
    width: 95% !important;
  }
}

